


<div class="contenedor">
  
      <div class="imagenP"></div>
      <div class="imagenA"></div>
      <header>OCR</header>
  <form id="form" class="topBefore">
		
		  <input id="name" type="text" [(ngModel)]="formulario.descripcion" [ngModelOptions]="{standalone: true}" placeholder="TITULO">
		  <input id="name" type="file" #fileInput [(ngModel)]="formulario.documento" [ngModelOptions]="{standalone: true}" placeholder="DOCUMENTO">
      
      <input (click)="send()" id="submit" type="submit" value="PROCESAR PDF...">
  </form>

  <a href="http://localhost:8001/file/upload/">descargar</a>

</div>

