

<div class="contenedor">
  <div class="caja"> 
      <div class="imagenP"></div>
    <div class="input">
      <label>
        <input type="text" [(ngModel)]="formulario.descripcion" placeholder="descripcion">
      </label>
    </div>
  </div>

  <div class="caja">
    <div class="imagenA"></div>
    <div class="input"> 
      <label>
        <input  type="file" [(ngModel)]="formulario.documento" placeholder="documento">
      </label>
    </div>
  </div>
    <button (click)="getForm()" class="boton">go back</button>
  
</div>
  
