.nav{
    position: relative;
    float: left;
    top: 0px;
    left: 0px;
    background-color: blue; 
    width: 75px;
    height: 75px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;


}
.logo{
    background-color: blue; 
    position: fixed;
    float: left;
    top: -10px;
    left: -10px;
    width: 100.95%;
    height: 80px;
    box-sizing: border-box;
    padding: 5px;

}
.anunciosuperior{
    background-color: blue;
    position: relative;
    float: right;
    top: 70px;
    right: 9.5%;
    width: 80%;
    height: 100px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px 10px;
    z-index: -1;
}
.contenido{
    background-color: transparent;
    position: relative;
    float: left;
    left: 10.5%;
    top: 80px;
    width: 59.5%;
    height: 50%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px 10px;
    z-index: -1;
    scroll-behavior: auto;
}
.anunciolateral{
    background-color: blueviolet;
    position: relative;
    float: right;
    right: 9.5%;
    top: 80px;
    width: 20%;
    height: 500px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px 10px;
    z-index: -1;

}
.anuncioinferior{
    background-color: brown;
    position: relative;
    float: right;
    top: 90px;
    right: 9.5%;
    width: 80%;
    height: 100px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px 10px;
    z-index: -1;

}
.footer{
    background-color: blue;
  
    position: relative;
    float: left;
    left: -10px;
    top: 100px;
    width: 100.95%;
    height: 100px;
    box-sizing: border-box;
    z-index: -1;
}
.caja{
    position: relative;
    float: left;
    
}