

.imagen{
    background-color: linear-gradient(180deg, rgba(10,5,222,1) 7%, rgba(42,120,237,1) 47%, rgba(13,79,225,1) 72%);    
    width: 75px;
    height: 75px;

    background-image: url('/assets/menu.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px;
    text-indent: -9999em;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.contenedor{
    background-color: rgb(48, 46, 46);
    position: fixed;
    float: left;
    top: 70px;
    left: 0px;
    width: 150px;
    height: 100%;
    z-index: 4;
    display: block;
    padding: 15px;
    border-left: solid;
    border-left-color: blue;
    border-left-width: 15px;
}

.caja{
    text-align: left;
    position: relative;
    float: top;
    left: -15px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;

}

.caja:hover{
    border-left: solid;
    
    border-left-width: 15px;
    border-left-color: #ff4500;
    background-color: blue;
}
